<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Homepage</title>
</head>
<body>

    <h1>Welcome to the Homepage</h1>

    <p>This is where you can add a Twitter user to the database</p>

    <form action="/users/create" method="POST">
        <label>User Name:</label>
        <input type="text" name="name" placeholder="User XYZ">

        </select>

        <button>Submit</button>
    </form>
    <p><a href="/users">See all current users</a></p>
    <p><a href="/tweets">See all tweets currently in the database</a></p>
    <p><a href="/friends">See all of the users and their friends</a></p>
    <h1>See the Most Interacted With Tweets</h1>

    <form action="/interactive_tweets" method="POST">
        <label>User Name:</label>
        <input type="text" name="name" placeholder="User XYZ">
        <button>Submit</button>
    </form>
    <h1>Is a tweet likely to be highly interactive with your audience?</h1>
    <h2>Add a user here to test them</h2>
    <form action="/add_user_interactive" method="POST">
        <label>User Name:</label>
        <input type="text" name="name" placeholder="Username">
        <button>Submit</button>
    </form>
    <h2>Test on a previously added user</h2>
    <form action="/model_interactions" method="POST">
        <label>User Name:</label>
        <input type="text" name="name" placeholder="Username">
        <label>Your Tweet:</label>
        <input type="text" name="new_tweet" placeholder="Your Tweet Here">
        <button>Predict!</button>
    </form>
</body>
</html>